.page-blog {
  max-width: $breakpoint-desktop;
  margin: auto;
  .grid-top-border {
    @extend .wrapper;
    @media (min-width: $breakpoint-desktop) {
      .border-top {
        margin-left: $line-global;
      }
    }
    @media (max-width: $breakpoint-desktop - 1px) {
      .border-top {
        margin-bottom: $line-global;
      }
    }
  }
  .blog-grid {
    @media (min-width: $breakpoint-desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .blog-grid-left {
      @media (min-width: $breakpoint-desktop) {
        .blog-grid-item {
          padding: $line-global;
        }
      }
      .grid-item-border-bottom {
        margin-top: $line-global;
      }
    }
    .blog-grid-right {
      @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .blog-grid-item {
          display: flex;
          padding-left: $line-global;
          padding-top: $line-global;
          padding-bottom: $line-global;
          padding-right: 0;
          &:first-child {
            .image-content {
              width: calc(50% - #{$gutter-global});
              margin-right: $line-global/2;
            }
            .post-info {
              margin-left: $line-global/2;
            }
            .blog-info {
              max-width: calc(50% - #{$line-global});
            }
            .blog-excerpt,
            .read-more {
              display: none;
            }
          }
          &:nth-child(n + 2) {
            .image-content {
              display: none;
            }
          }
        }
      }
      @media (min-width: $breakpoint-desktop) {
        .grid-item-border-bottom {
          margin-left: $line-global;
        }
      }
      @media (max-width: $breakpoint-desktop - 1px) {
        .grid-item-border-bottom {
          margin-top: $line-global;
          margin-bottom: $line-global;
        }
      }
    }
  }
  .blog-grid-item {
    .blog-info {
      &:hover {
        .post-title-link {
          filter: brightness(150%);
        }
      }
    }
    @media (max-width: $breakpoint-desktop - 1px) {
      margin-bottom: $offset-global;
    }
    .post-title {
      margin-bottom: $line-global/2;
    }
    .blog-info {
      a {
        display: inline-block;
      }
      a:not(:first-of-type) {
        margin-top: $line-global/2;
      }
      .blog-category a {
        font-size: 0.8em;
        margin-top: 0;
        color: $text-color-light;
        &:hover,
        &:active {
          color: $red;
        }
      }
    }
  }
  .blog-grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: $offset-global auto;
    grid-gap: $line-global;
    padding: 0 $line-global;
    max-width: $breakpoint-desktop;
    justify-content: stretch;
    .blog-grid-item {
      grid-column: span 1;
      display: flex;
      flex-direction: column;
    }
  }
  .rest-of-blog-posts {
    margin: $offset-global auto auto 0;
    max-width: 800px;
    .grid-item-border-bottom {
      padding-top: $line-global;
    }
  }
}
