.page-contact-us {
  label {
    @extend .h3;
  }
  p {
    margin-bottom: $line-global;
  }
  input,
  textarea {
    // @include reset-input;
    @extend .heading-text-underline;
  }
  input[type="submit"] {
    @include reset-input;
    @extend .h2;
    background-color: $red;
    color: $white;
    padding: $line-global / 2;
    border-radius: 6px;
    &:hover {
      background-color: lighten($red, 10%);
    }
  }
}
