.page-home {
  opacity: 0;
  overflow: hidden;
  .site-tagline-container {
    margin: 0 auto;
    max-width: 500px;
    max-height: 250px;
    textpath {
      fill: $red;
      @extend .h2;
    }
    path {
      fill: transparent;
    }
  }
  .divider-section {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .divider-content {
      display: flex;
      align-items: stretch;
      justify-content: center;
      width: 200%;
    }
    .section-border-zigzag {
      height: 224.972px;
      @extend .translate-left;
    }
  }
  .title-badge-container {
    .title-badge {
      display: inline-block;
      position: relative;
      width: 170px;
      text-align: center;
      .badge-bg {
        position: absolute;
        overflow: hidden;
        width: 170px;
        left: 0px;
        top: -68px;
        > #clown-flower-img {
          fill: none;
          stroke: $red;
          stroke-width: 12px;
          z-index: 3;
          path {
            fill: none;
          }
        }
      }
      h2 {
        display: inline-block;
        color: transparent;
        -webkit-text-stroke: 0.5px red;
        paint-order: stroke fill;
      }
    }
  }
  .site-description-container {
    margin: $offset-global 0;
  }
  .menu-section-intro {
    display: none;
  }

  .menu-section {
    position: relative;
    @extend .wrapper;
  }
  .menu-section-intro {
    position: relative;
    .menu-content {
      p {
        @extend .h2;
      }
    }
    .title-badge-container {
      display: none;
    }
  }
  .menu-section-sandwiches,
  .menu-section-dinner {
    .menu-content {
      @extend .h1;
      position: absolute;
      width: 100%;
    }
    .menu-item-content {
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      position: relative;
      min-width: 200vw;
      animation: moveRight 20s linear infinite;
      @media (min-width: $breakpoint-desktop) {
        animation: moveRight 30s linear infinite;
      }
      .menu-item-text {
        &:not(:first-child) {
          margin-left: $offset-global;
        }
        &:not(:last-child) {
          margin-right: $offset-global;
        }
      }
    }
  }
  .menu-section-dinner,
  .menu-section-appetizers,
  .menu-section-sandwiches,
  .menu-section-sides {
    .title-badge-container {
      position: absolute;
      top: 0;
      @media (min-width: $breakpoint-desktop - 1px) {
        min-height: 100px;
      }
    }
  }
  .menu-section-dinner {
    .title-badge-container {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  .menu-section-appetizers {
    .title-badge-container {
      position: absolute;
      top: $line-global/2;
      left: 50%;
      transform: rotate(15deg);
      .title-badge {
        width: 200px;
        .badge-bg {
          width: 200px;
          left: 0;
          top: -87px;
        }
      }
    }
  }
  .menu-section-sandwiches {
    .title-badge-container {
      position: absolute;
      top: $line-global/2;
      transform: rotate(-15deg);
      .title-badge {
        width: 220px;
        .badge-bg {
          width: 220px;
          left: 0;
          top: -96px;
        }
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    .menu-section-dinner {
      .title-badge-container {
        top: 4%;
        left: 56%;
        transform: rotate(18deg);
      }
    }
    .menu-section-sandwiches {
      .title-badge-container {
        top: 7%;
        left: 67%;
        transform: rotate(18deg);
      }
    }
    .menu-section-appetizers {
      .title-badge-container {
        top: 11%;
        left: 20%;
        transform: rotate(-15deg);
        .title-badge {
          width: 200px;
          .badge-bg {
            width: 200px;
            top: -87px;
          }
        }
      }
    }

    .menu-section-sides,
    .menu-section-appetizers {
      .title-badge-container {
        top: 11%;
        left: 20%;
        transform: rotate(-15deg);
      }
    }
  }
  .menu-section-sandwiches {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .image-content {
      display: flex;
      justify-content: center;
      img {
        height: 150px;
      }
      .bread-top {
        margin-bottom: $offset-global / 2;
      }
      .bread-bottom {
        margin-top: $offset-global * 2;
      }
    }
  }
  .menu-section-dinner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    .menu-content {
      margin-top: 110px;
      top: 50%;
      transform: translateY(-50%);
    }
    .image-content-right,
    .image-content-left {
      z-index: 1;
    }
    .face-left,
    .face-right {
      height: 680px;
    }
    .face-left {
      transform: scaleX(-1);
    }
    .image-content-right {
      position: absolute;
      right: 0;
    }
    .image-content-left {
      position: absolute;
      left: 0;
    }
    @media (max-width: $breakpoint-tablet - 1px) {
      .face-left,
      .face-right {
        height: 350px;
      }
      .image-content-left {
        left: -60px;
      }
      .image-content-right {
        right: -60px;
      }
      .menu-content {
        margin-top: 60px;
        font-size: $type-headline-med;
      }
      min-height: 400px;
    }
  }
  .menu-section-sides,
  .menu-section-appetizers {
    .menu-item-content {
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      column-gap: $line-global;
      row-gap: $gutter-global;
      align-items: center;
    }
    .menu-item-text {
      position: relative;
      min-height: 60px;
      text-align: center;
      &:nth-of-type(6n + 1) {
        grid-column: 1/3;
        grid-row: 1;
        &:after {
          content: "";
          background: url(./img/plate-3.png);
          height: 30px;
          width: 100%;
          position: absolute;
          background-size: 30px;
          bottom: -30px;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-of-type(6n + 2) {
        grid-column: 2/4;
        grid-row: 2;
        &:after {
          background: url(./img/plate-1.png);
          content: "";
          height: 30px;
          width: 100%;
          position: absolute;
          background-size: 30px;
          bottom: -30px;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-of-type(6n + 3) {
        grid-column: 1/3;
        grid-row: 3;
        &:after {
          background: url(./img/plate-3.png);
          content: "";
          height: 30px;
          width: 100%;
          position: absolute;
          background-size: 30px;
          bottom: -30px;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-of-type(6n + 4) {
        grid-column: 2/4;
        grid-row: 1;
        &:after {
          background: url(./img/plate-2.png);
          content: "";
          height: 30px;
          width: 100%;
          position: absolute;
          background-size: 30px;
          bottom: -30px;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-of-type(6n + 5) {
        grid-column: 1/3;
        grid-row: 2;
        &:after {
          background: url(./img/plate-1.png);
          content: "";
          height: 30px;
          width: 100%;
          position: absolute;
          background-size: 30px;
          bottom: -30px;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      &:nth-of-type(6n) {
        grid-column: 2/4;
        grid-row: 3;
        &:after {
          background: url(./img/plate-2.png);
          content: "";
          height: 30px;
          width: 100%;
          position: absolute;
          background-size: 30px;
          bottom: -30px;
          left: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    @media (max-width: $breakpoint-desktop - 1px) {
      .menu-item-text {
        &:nth-of-type(-n + 3) {
          animation: fadeInPart1 20s linear infinite;
        }
        &:nth-of-type(n + 4):nth-child(-n + 6) {
          opacity: 0;
          animation: fadeInPart2 20s linear infinite;
        }
        &:nth-of-type(n + 7):nth-child(-n + 9) {
          opacity: 0;
          animation: fadeInPart3 20s linear infinite;
        }
        &:nth-of-type(n + 10):nth-child(-n + 12) {
          opacity: 0;
          animation: fadeInPart4 20s linear infinite;
        }
        @for $i from 1 through 12 {
          &:nth-of-type(#{$i}) {
            animation-delay: (#{$i * 0.15s});
          }
        }
      }
    }
    .menu-item-content {
      @extend .h2;
    }
    @media (min-width: $breakpoint-desktop) {
      .menu-item-content {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: center;
      }
      // let's go with 6
      .menu-item-content .menu-item-text {
        &:nth-of-type(6n + 1) {
          grid-column: 1/4;
          grid-row: 2/4;
        }
        &:nth-of-type(6n + 2) {
          grid-column: 2/6;
          grid-row: 4/5;
        }
        &:nth-of-type(6n + 3) {
          grid-column: 5/7;
          grid-row: 2/5;
        }
        &:nth-of-type(6n + 4) {
          grid-column: 7/9;
          grid-row: 1;
        }
        &:nth-of-type(6n + 5) {
          grid-column: 10/13;
          grid-row: 2/3;
        }
        &:nth-of-type(6n) {
          grid-column: 7/12;
          grid-row: 4/5;
        }
        &:nth-of-type(n + 7) {
          opacity: 0;
          animation: fadeInOut 10s linear infinite;
        }
        &:nth-of-type(-n + 6) {
          animation: fadeOutIn 10s linear infinite;
        }
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            animation-delay: (#{$i * 0.1s});
          }
        }
      }
    }
  }
  @media (max-width: $breakpoint-tablet - 1px) {
    .menu-section-appetizers,
    .menu-section-sandwiches,
    .menu-section-sides {
      padding-top: $offset-global * 2.5;
    }
  }
}
