// Full Menu Page

.page-menu {
  opacity: 0;
  @extend .wrapper;
  .menu-intro {
    display: none;
  }
  .menu-title {
    position: relative;
    display: inline-block;
    margin-bottom: $line-global/1.25;
  }
  .menu-content {
    margin-bottom: $line-global * 2;
  }
}
