.page-single {
  max-width: $breakpoint-desktop;
  margin: auto;
  .wp-block-column {
    p {
      margin-bottom: $line-global;
    }
    ul,
    ol {
      list-style-type: disc;
      margin-left: inherit;
    }
  }

  .search-results-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    a {
      display: inline-block;
      @extend .h3;
    }
  }
  .single-grid {
    @media (min-width: $breakpoint-desktop) {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
    .blog-grid-left {
      @extend .text-black;
      // @extend .blog-content-styleguide;
      @extend .blog-post-styleguide;
      @media (min-width: $breakpoint-desktop) {
        .blog-grid-item {
          padding: $line-global;
          .featured-image-container {
            display: flex;
            justify-content: center;
            .featured-image {
              max-height: 600px;
            }
          }
          .post-content {
            padding: $line-global $line-global 0
              calc(#{$line-global} + ((100% - #{$offset-global}) / 12 * 2));
          }
        }
      }
      .grid-item-border-bottom {
        margin-top: $line-global;
      }
    }
    .blog-grid-right {
      @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .blog-grid-right-title {
          padding-left: $line-global;
          padding-top: $line-global;
        }
        .blog-grid-item {
          display: flex;
          padding-left: $line-global;
          padding-top: $line-global;
          padding-bottom: $line-global;
          padding-right: 0;
          .blog-category {
            margin-bottom: $line-global/2;
          }
        }
      }
      @media (min-width: $breakpoint-desktop) {
        .grid-item-border-bottom {
          margin-left: $line-global;
        }
      }
      @media (max-width: $breakpoint-desktop - 1px) {
        .grid-item-border-bottom {
          margin-top: $line-global;
          margin-bottom: $line-global;
        }
      }
    }
  }
}
