/* 
Theme: Uncle Daniels
author: P
author URI: https://halffoal.com
Description: Theme for UD
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-family: "Open Sans", Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #ed2a2e;
  line-height: 24px; }

html {
  background-color: #ed2a2e; }

body {
  font-size: 16px;
  padding-top: 110px;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

h1,
.h1,
.page-home .menu-section-sandwiches .menu-content,
.page-home .menu-section-dinner .menu-content,
h2,
.h2,
.page-title-container textpath,
.page-title-container text,
.site-tagline-container text,
.page-contact-us input[type="submit"],
.page-home .site-tagline-container textpath,
.page-home .menu-section-intro .menu-content p,
.page-home .menu-section-sides .menu-item-content,
.page-home .menu-section-appetizers .menu-item-content,
h3,
.h3,
.page-single .search-results-container a,
.page-contact-us label {
  font-family: "Bree Serif", "Georgia", "Times New Roman", serif;
  font-weight: 700;
  color: #ed2a2e; }

h1,
.h1,
.page-home .menu-section-sandwiches .menu-content,
.page-home .menu-section-dinner .menu-content {
  font-size: 46px;
  line-height: 72px; }

h2,
.h2,
.page-title-container textpath,
.page-title-container text,
.site-tagline-container text,
.page-contact-us input[type="submit"],
.page-home .site-tagline-container textpath,
.page-home .menu-section-intro .menu-content p,
.page-home .menu-section-sides .menu-item-content,
.page-home .menu-section-appetizers .menu-item-content {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 18px; }

h3,
.h3,
.page-single .search-results-container a,
.page-contact-us label {
  font-size: 16px;
  line-height: 24px; }

p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px; }

.p-large {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 31px;
  line-height: 1.4; }

.text-huge {
  font-family: "Luckiest Guy", cursive;
  font-size: 32px;
  line-height: 1.4; }

@media (min-width: 1200px) {
  .text-huge {
    font-size: 92px; } }

a {
  text-decoration: none;
  color: #ed2a2e; }

.link-logo {
  font-size: 55px;
  display: inline-block;
  width: 55px; }

.text-link {
  font-family: "Bree Serif", "Georgia", "Times New Roman", serif;
  color: #ed2a2e;
  fill: currentColor;
  position: relative; }
  @media (min-width: 1200px) {
    .text-link:hover:after {
      content: "";
      height: 8px;
      width: 100%;
      position: absolute;
      background: url("./img/text-link-underline-wiggler2.png");
      background-size: 8px;
      top: 24px;
      bottom: 0px;
      left: 0; } }

.bg-red {
  background-color: #ed2a2e; }

.border-red {
  border-color: #ed2a2e; }

.text-white {
  color: #ffffff; }
  .text-white h1,
  .text-white .h1,
  .text-white .page-home .menu-section-sandwiches .menu-content,
  .page-home .menu-section-sandwiches .text-white .menu-content,
  .text-white .page-home .menu-section-dinner .menu-content,
  .page-home .menu-section-dinner .text-white .menu-content,
  .text-white h2,
  .text-white .h2,
  .text-white .page-title-container textpath,
  .page-title-container .text-white textpath,
  .text-white .page-title-container text,
  .page-title-container .text-white text,
  .text-white .site-tagline-container text,
  .site-tagline-container .text-white text,
  .text-white .page-contact-us input[type="submit"],
  .page-contact-us .text-white input[type="submit"],
  .text-white .page-home .site-tagline-container textpath,
  .page-home .site-tagline-container .text-white textpath,
  .text-white .page-home .menu-section-intro .menu-content p,
  .page-home .menu-section-intro .menu-content .text-white p,
  .text-white .page-home .menu-section-sides .menu-item-content,
  .page-home .menu-section-sides .text-white .menu-item-content,
  .text-white .page-home .menu-section-appetizers .menu-item-content,
  .page-home .menu-section-appetizers .text-white .menu-item-content,
  .text-white h3,
  .text-white .h3,
  .text-white .page-single .search-results-container a,
  .page-single .search-results-container .text-white a,
  .text-white .page-contact-us label,
  .page-contact-us .text-white label,
  .text-white h4,
  .text-white .h4 {
    color: #ffffff; }
  .text-white p,
  .text-white .accent-color {
    color: #cccccc; }
  .text-white a {
    color: #ffffff; }
    .text-white a:hover {
      color: #ffffff; }

.text-black, .page-single .single-grid .blog-grid-left {
  color: #000000; }
  .text-black h1, .page-single .single-grid .blog-grid-left h1,
  .text-black .h1,
  .page-single .single-grid .blog-grid-left .h1,
  .text-black .page-home .menu-section-sandwiches .menu-content,
  .page-home .menu-section-sandwiches .text-black .menu-content,
  .page-single .single-grid .blog-grid-left .page-home .menu-section-sandwiches .menu-content,
  .page-home .menu-section-sandwiches .page-single .single-grid .blog-grid-left .menu-content,
  .text-black .page-home .menu-section-dinner .menu-content,
  .page-home .menu-section-dinner .text-black .menu-content,
  .page-single .single-grid .blog-grid-left .page-home .menu-section-dinner .menu-content,
  .page-home .menu-section-dinner .page-single .single-grid .blog-grid-left .menu-content,
  .text-black h2,
  .page-single .single-grid .blog-grid-left h2,
  .text-black .h2,
  .page-single .single-grid .blog-grid-left .h2,
  .text-black .page-title-container textpath,
  .page-title-container .text-black textpath,
  .page-single .single-grid .blog-grid-left .page-title-container textpath,
  .page-title-container .page-single .single-grid .blog-grid-left textpath,
  .text-black .page-title-container text,
  .page-title-container .text-black text,
  .page-single .single-grid .blog-grid-left .page-title-container text,
  .page-title-container .page-single .single-grid .blog-grid-left text,
  .text-black .site-tagline-container text,
  .site-tagline-container .text-black text,
  .page-single .single-grid .blog-grid-left .site-tagline-container text,
  .site-tagline-container .page-single .single-grid .blog-grid-left text,
  .text-black .page-contact-us input[type="submit"],
  .page-contact-us .text-black input[type="submit"],
  .page-single .single-grid .blog-grid-left .page-contact-us input[type="submit"],
  .page-contact-us .page-single .single-grid .blog-grid-left input[type="submit"],
  .text-black .page-home .site-tagline-container textpath,
  .page-home .site-tagline-container .text-black textpath,
  .page-single .single-grid .blog-grid-left .page-home .site-tagline-container textpath,
  .page-home .site-tagline-container .page-single .single-grid .blog-grid-left textpath,
  .text-black .page-home .menu-section-intro .menu-content p,
  .page-home .menu-section-intro .menu-content .text-black p,
  .page-single .single-grid .blog-grid-left .page-home .menu-section-intro .menu-content p,
  .page-home .menu-section-intro .menu-content .page-single .single-grid .blog-grid-left p,
  .text-black .page-home .menu-section-sides .menu-item-content,
  .page-home .menu-section-sides .text-black .menu-item-content,
  .page-single .single-grid .blog-grid-left .page-home .menu-section-sides .menu-item-content,
  .page-home .menu-section-sides .page-single .single-grid .blog-grid-left .menu-item-content,
  .text-black .page-home .menu-section-appetizers .menu-item-content,
  .page-home .menu-section-appetizers .text-black .menu-item-content,
  .page-single .single-grid .blog-grid-left .page-home .menu-section-appetizers .menu-item-content,
  .page-home .menu-section-appetizers .page-single .single-grid .blog-grid-left .menu-item-content,
  .text-black h3,
  .page-single .single-grid .blog-grid-left h3,
  .text-black .h3,
  .page-single .single-grid .blog-grid-left .h3,
  .text-black .page-single .search-results-container a,
  .page-single .search-results-container .text-black a,
  .page-single .single-grid .blog-grid-left .search-results-container a,
  .page-single .search-results-container .single-grid .blog-grid-left a,
  .text-black .page-contact-us label,
  .page-contact-us .text-black label,
  .page-single .single-grid .blog-grid-left .page-contact-us label,
  .page-contact-us .page-single .single-grid .blog-grid-left label,
  .text-black h4,
  .page-single .single-grid .blog-grid-left h4,
  .text-black .h4,
  .page-single .single-grid .blog-grid-left .h4 {
    color: #000000; }
  .text-black p, .page-single .single-grid .blog-grid-left p,
  .text-black .accent-color,
  .page-single .single-grid .blog-grid-left .accent-color {
    color: #333333; }
  .text-black a, .page-single .single-grid .blog-grid-left a {
    color: #000000; }
    .text-black a:hover, .page-single .single-grid .blog-grid-left a:hover {
      color: #333333; }

.heading-text-underline:after, .page-contact-us input:after,
.page-contact-us textarea:after {
  content: "";
  height: 8px;
  width: 100%;
  position: absolute;
  background: url("./img/text-link-underline-wiggler2.png");
  background-size: 8px;
  top: 42px;
  bottom: 0px;
  left: 0; }

@media (min-width: 1200px) {
  .text-link-white:hover:after {
    content: "";
    height: 8px;
    width: 100%;
    position: absolute;
    background: url("./img/text-link-white-underline-wiggler.png");
    background-size: 8px;
    top: 24px;
    bottom: 0px;
    left: 0; } }

button[type="submit"],
.button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  display: inline-block;
  width: auto;
  padding: 12px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background-color: #000000;
  color: #ffffff; }
  button[type="submit"]:disabled,
  .button:disabled {
    opacity: 0.75;
    cursor: not-allowed; }
  button[type="submit"]:not(:disabled):hover,
  .button:not(:disabled):hover {
    background-color: #1a1a1a; }
  button[type="submit"]:hover,
  .button:hover {
    color: #ffffff; }
  button[type="submit"].button-cta,
  .button.button-cta {
    width: 100%;
    padding: 24px; }
  .text-white button[type="submit"], .text-white
  .button {
    background: #ffffff;
    color: #000000; }
    .text-white button[type="submit"]:hover, .text-white
    .button:hover {
      color: #000000;
      background: #e6e6e6; }

.searchbox-form {
  position: relative; }
  .searchbox-form input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 0;
    width: auto;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    text-align: left;
    border: 4px solid #ed2a2e;
    height: 40px; }
    .searchbox-form input::-webkit-input-placeholder {
      color: #ed2a2e;
      font-family: "Bree Serif", "Georgia", "Times New Roman", serif;
      font-size: 16px; }
    .searchbox-form input:-ms-input-placeholder {
      color: #ed2a2e;
      font-family: "Bree Serif", "Georgia", "Times New Roman", serif;
      font-size: 16px; }
    .searchbox-form input::-ms-input-placeholder {
      color: #ed2a2e;
      font-family: "Bree Serif", "Georgia", "Times New Roman", serif;
      font-size: 16px; }
    .searchbox-form input::placeholder {
      color: #ed2a2e;
      font-family: "Bree Serif", "Georgia", "Times New Roman", serif;
      font-size: 16px; }
  .searchbox-form .search-input {
    padding: 6px;
    color: #ed2a2e; }
    .searchbox-form .search-input:focus, .searchbox-form .search-input:active {
      color: #ed2a2e;
      caret-color: #ed2a2e; }
  .searchbox-form .search-btn {
    position: absolute;
    top: 0;
    background: #ffffff url("img/search-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 36px;
    color: #ed2a2e; }
    @media (min-width: 1200px) {
      .searchbox-form .search-btn {
        right: 0; } }

#header-global .searchbox-form input,
#footer-global .searchbox-form input {
  border: 4px solid #ffffff; }

#header-global .searchbox-form::-webkit-input-placeholder,
#footer-global .searchbox-form::-webkit-input-placeholder {
  color: #ffffff; }

#header-global .searchbox-form:-ms-input-placeholder,
#footer-global .searchbox-form:-ms-input-placeholder {
  color: #ffffff; }

#header-global .searchbox-form::-ms-input-placeholder,
#footer-global .searchbox-form::-ms-input-placeholder {
  color: #ffffff; }

#header-global .searchbox-form::placeholder,
#footer-global .searchbox-form::placeholder {
  color: #ffffff; }

#header-global .searchbox-form .search-input,
#header-global .searchbox-form .search-input:focus,
#header-global .searchbox-form .search-input:active,
#footer-global .searchbox-form .search-input,
#footer-global .searchbox-form .search-input:focus,
#footer-global .searchbox-form .search-input:active {
  color: #ffffff;
  caret-color: #ffffff; }

#header-global .searchbox-form .search-btn,
#footer-global .searchbox-form .search-btn {
  color: #ed2a2e; }

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.wrapper, #header-global .header-top, #header-global .header-bottom, .page-menu, .page-blog .grid-top-border, .page-home .menu-section {
  padding-left: 24px;
  padding-right: 24px; }
  @media (min-width: 1200px) {
    .wrapper, #header-global .header-top, #header-global .header-bottom, .page-menu, .page-blog .grid-top-border, .page-home .menu-section {
      padding-left: 54px;
      padding-right: 54px; } }
  @media (max-width: 419px) {
    .wrapper, #header-global .header-top, #header-global .header-bottom, .page-menu, .page-blog .grid-top-border, .page-home .menu-section {
      padding-left: 12px;
      padding-right: 12px; } }

.grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 36px;
  grid-row-gap: 36px; }
  .grid > * {
    min-width: 0;
    min-height: 0; }
  .grid.collapse {
    grid-row-gap: 0;
    grid-column-gap: 0; }

@media (min-width: 420px) {
  .two-columns {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; } }

.valign-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .valign-center > *:first-child {
    margin-top: auto; }
  .valign-center > *:last-child {
    margin-bottom: auto; }

.ta-center {
  text-align: center; }

.ptb-global {
  padding-top: 24px;
  padding-bottom: 24px; }

.mt-header {
  margin-top: 110px; }

.valign-center-wp-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 419px) {
  .flex-reverse-column-wp-columns-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; } }

.page-title-container {
  margin: 0 auto;
  max-width: 500px;
  max-height: 250px; }
  .page-title-container textpath {
    fill: #ed2a2e;
    font-weight: 700; }
  .page-title-container path {
    fill: transparent; }

.page-title-container text,
.site-tagline-container text {
  fill: #ed2a2e;
  font-weight: 700; }

.border-top {
  border-top: 1px solid #ed2a2e; }

.border-bottom {
  border-bottom: 1px solid #ed2a2e; }

.red-fill {
  fill: #ed2a2e; }

.white-fill {
  fill: #ffffff; }

.db {
  display: block; }

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(1.2) rotateZ(180deg);
    transform: scale(1.2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0); }
  50% {
    -webkit-transform: scale(1.2) rotateZ(180deg);
    transform: scale(1.2) rotateZ(180deg); }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes translateLeft {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes translateLeft {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

.translate-left, .page-home .divider-section .section-border-zigzag {
  -webkit-animation: translateLeft 15s linear infinite;
  animation: translateLeft 15s linear infinite; }

.rotate-scale-up, #header-global .header-top .logo-bg {
  -webkit-animation: rotate-scale-up 10s linear infinite both;
  animation: rotate-scale-up 10s linear infinite both; }

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(-200vw);
    transform: translateX(-200vw); }
  100% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(-200vw);
    transform: translateX(-200vw); }
  100% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@-webkit-keyframes fadeInOut {
  45% {
    opacity: 0; }
  50% {
    opacity: 1; }
  85% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@keyframes fadeInOut {
  45% {
    opacity: 0; }
  50% {
    opacity: 1; }
  85% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-webkit-keyframes fadeOutIn {
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  95% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOutIn {
  40% {
    opacity: 1; }
  45% {
    opacity: 0; }
  95% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInPart1 {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  23.75% {
    opacity: 0; }
  96.25% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInPart1 {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  23.75% {
    opacity: 0; }
  96.25% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInPart2 {
  0% {
    opacity: 0; }
  23.75% {
    opacity: 0; }
  27.5% {
    opacity: 1; }
  43.75% {
    opacity: 1; }
  47.5% {
    opacity: 0; } }

@keyframes fadeInPart2 {
  0% {
    opacity: 0; }
  23.75% {
    opacity: 0; }
  27.5% {
    opacity: 1; }
  43.75% {
    opacity: 1; }
  47.5% {
    opacity: 0; } }

@-webkit-keyframes fadeInPart3 {
  0% {
    opacity: 0; }
  47.5% {
    opacity: 0; }
  51.25% {
    opacity: 1; }
  67.5% {
    opacity: 1; }
  71.25% {
    opacity: 0; } }

@keyframes fadeInPart3 {
  0% {
    opacity: 0; }
  47.5% {
    opacity: 0; }
  51.25% {
    opacity: 1; }
  67.5% {
    opacity: 1; }
  71.25% {
    opacity: 0; } }

@-webkit-keyframes fadeInPart4 {
  0% {
    opacity: 0; }
  71.25% {
    opacity: 0; }
  75% {
    opacity: 1; }
  91.25% {
    opacity: 1; }
  95% {
    opacity: 0; } }

@keyframes fadeInPart4 {
  0% {
    opacity: 0; }
  71.25% {
    opacity: 0; }
  75% {
    opacity: 1; }
  91.25% {
    opacity: 1; }
  95% {
    opacity: 0; } }

.blog-post-styleguide p, .page-single .single-grid .blog-grid-left p {
  margin-bottom: 54px; }

.blog-post-styleguide h3, .page-single .single-grid .blog-grid-left h3,
.blog-post-styleguide .h3,
.page-single .single-grid .blog-grid-left .h3,
.blog-post-styleguide .page-single .search-results-container a,
.page-single .search-results-container .blog-post-styleguide a,
.page-single .single-grid .blog-grid-left .search-results-container a,
.page-single .search-results-container .single-grid .blog-grid-left a,
.blog-post-styleguide .page-contact-us label,
.page-contact-us .blog-post-styleguide label,
.page-single .single-grid .blog-grid-left .page-contact-us label,
.page-contact-us .page-single .single-grid .blog-grid-left label,
.blog-post-styleguide h4,
.page-single .single-grid .blog-grid-left h4,
.blog-post-styleguide .h4,
.page-single .single-grid .blog-grid-left .h4,
.blog-post-styleguide h5,
.page-single .single-grid .blog-grid-left h5,
.blog-post-styleguide .h5,
.page-single .single-grid .blog-grid-left .h5,
.blog-post-styleguide h6,
.page-single .single-grid .blog-grid-left h6,
.blog-post-styleguide .h6,
.page-single .single-grid .blog-grid-left .h6 {
  margin-bottom: 12px; }

.blog-content-styleguide-reference html,
.blog-content-styleguide-reference body {
  font-size: 10px; }

.blog-content-styleguide-reference h1,
.blog-content-styleguide-reference .h1,
.blog-content-styleguide-reference .page-home .menu-section-sandwiches .menu-content,
.page-home .menu-section-sandwiches .blog-content-styleguide-reference .menu-content,
.blog-content-styleguide-reference .page-home .menu-section-dinner .menu-content,
.page-home .menu-section-dinner .blog-content-styleguide-reference .menu-content {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 4.2724609375em;
  line-height: 6rem;
  font-style: normal;
  letter-spacing: 0em; }

.blog-content-styleguide-reference h2,
.blog-content-styleguide-reference .h2,
.blog-content-styleguide-reference .page-title-container textpath,
.page-title-container .blog-content-styleguide-reference textpath,
.blog-content-styleguide-reference .page-title-container text,
.page-title-container .blog-content-styleguide-reference text,
.blog-content-styleguide-reference .site-tagline-container text,
.site-tagline-container .blog-content-styleguide-reference text,
.blog-content-styleguide-reference .page-contact-us input[type="submit"],
.page-contact-us .blog-content-styleguide-reference input[type="submit"],
.blog-content-styleguide-reference .page-home .site-tagline-container textpath,
.page-home .site-tagline-container .blog-content-styleguide-reference textpath,
.blog-content-styleguide-reference .page-home .menu-section-intro .menu-content p,
.page-home .menu-section-intro .menu-content .blog-content-styleguide-reference p,
.blog-content-styleguide-reference .page-home .menu-section-sides .menu-item-content,
.page-home .menu-section-sides .blog-content-styleguide-reference .menu-item-content,
.blog-content-styleguide-reference .page-home .menu-section-appetizers .menu-item-content,
.page-home .menu-section-appetizers .blog-content-styleguide-reference .menu-item-content {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 3.4179687500000004em;
  line-height: 6rem;
  font-style: normal;
  letter-spacing: 0em; }

.blog-content-styleguide-reference h3,
.blog-content-styleguide-reference .h3,
.blog-content-styleguide-reference .page-single .search-results-container a,
.page-single .search-results-container .blog-content-styleguide-reference a,
.blog-content-styleguide-reference .page-contact-us label,
.page-contact-us .blog-content-styleguide-reference label {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 2.7343750000000004em;
  line-height: 48px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em; }

.blog-content-styleguide-reference h4,
.blog-content-styleguide-reference .h4 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 2.1875em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em; }

.blog-content-styleguide-reference h5,
.blog-content-styleguide-reference .h5 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 1.7500000000000002em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em; }

.blog-content-styleguide-reference h6,
.blog-content-styleguide-reference .h6 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 1.4000000000000001em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em; }

.blog-content-styleguide-reference p {
  margin-bottom: 3rem;
  font-family: Open Sans;
  font-size: 1.6em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em; }

@media screen and (max-width: 767px) {
  .blog-content-styleguide-reference h1,
  .blog-content-styleguide-reference .h1,
  .blog-content-styleguide-reference .page-home .menu-section-sandwiches .menu-content,
  .page-home .menu-section-sandwiches .blog-content-styleguide-reference .menu-content,
  .blog-content-styleguide-reference .page-home .menu-section-dinner .menu-content,
  .page-home .menu-section-dinner .blog-content-styleguide-reference .menu-content {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 6.103515625em;
    line-height: 6.1rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; }
  .blog-content-styleguide-reference h2,
  .blog-content-styleguide-reference .h2,
  .blog-content-styleguide-reference .page-title-container textpath,
  .page-title-container .blog-content-styleguide-reference textpath,
  .blog-content-styleguide-reference .page-title-container text,
  .page-title-container .blog-content-styleguide-reference text,
  .blog-content-styleguide-reference .site-tagline-container text,
  .site-tagline-container .blog-content-styleguide-reference text,
  .blog-content-styleguide-reference .page-contact-us input[type="submit"],
  .page-contact-us .blog-content-styleguide-reference input[type="submit"],
  .blog-content-styleguide-reference .page-home .site-tagline-container textpath,
  .page-home .site-tagline-container .blog-content-styleguide-reference textpath,
  .blog-content-styleguide-reference .page-home .menu-section-intro .menu-content p,
  .page-home .menu-section-intro .menu-content .blog-content-styleguide-reference p,
  .blog-content-styleguide-reference .page-home .menu-section-sides .menu-item-content,
  .page-home .menu-section-sides .blog-content-styleguide-reference .menu-item-content,
  .blog-content-styleguide-reference .page-home .menu-section-appetizers .menu-item-content,
  .page-home .menu-section-appetizers .blog-content-styleguide-reference .menu-item-content {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 4.8828125em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; }
  .blog-content-styleguide-reference h3,
  .blog-content-styleguide-reference .h3,
  .blog-content-styleguide-reference .page-single .search-results-container a,
  .page-single .search-results-container .blog-content-styleguide-reference a,
  .blog-content-styleguide-reference .page-contact-us label,
  .page-contact-us .blog-content-styleguide-reference label {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 3.90625em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; }
  .blog-content-styleguide-reference h4,
  .blog-content-styleguide-reference .h4 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 3.125em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; }
  .blog-content-styleguide-reference h5,
  .blog-content-styleguide-reference .h5 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 2.5em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; }
  .blog-content-styleguide-reference h6,
  .blog-content-styleguide-reference .h6 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 2em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; }
  .blog-content-styleguide-reference p {
    margin-bottom: 3rem;
    font-family: Open Sans;
    font-size: 1.6em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; } }

#header-global {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }

#header-global .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #ed2a2e; }
  #header-global .header-top .logo {
    display: inline-block;
    width: 100%;
    position: relative; }
    #header-global .header-top .logo h2 {
      font-family: "Luckiest Guy", cursive;
      color: #ffffff;
      letter-spacing: 1px;
      margin-bottom: 0;
      line-height: 36px; }
    #header-global .header-top .logo > #clown-flower-img {
      z-index: 3; }
  #header-global .header-top .logo-bg {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 300px;
    top: -200%;
    left: -70%;
    z-index: -1; }
  #header-global .header-top .menu-icon {
    position: relative;
    width: 100px; }
  #header-global .header-top .menu-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: red;
    background: white; }
  @media (min-width: 1200px) {
    #header-global .header-top {
      background: none;
      height: 110px; }
      #header-global .header-top #mobile-menu-border {
        display: block; }
      #header-global .header-top .header-left .logo-bg {
        display: block; }
      #header-global .header-top .header-right a:not(:first-of-type) {
        margin-left: 24px; } }

#header-global .header-bottom {
  background-color: #ed2a2e; }

#header-global #mobile-menu-border {
  display: block;
  margin-top: -1px; }

@media (min-width: 1200px) {
  #header-global #mobile-menu-border {
    display: none; } }

.admin-bar-showing #header-global,
.admin-bar-showing .header-menu-mobile {
  top: 46px; }
  @media (min-width: 783px) {
    .admin-bar-showing #header-global,
    .admin-bar-showing .header-menu-mobile {
      top: 32px; } }

.section-catering {
  margin: 110px 0;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section-catering .catering-badge {
    position: relative; }
    .section-catering .catering-badge .badge-title {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      text-align: center;
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
      transition: -webkit-transform 0.5s ease-in-out;
      -o-transition: transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out;
      transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
      z-index: 1; }
      .section-catering .catering-badge .badge-title h2 {
        font-family: "Luckiest Guy", cursive;
        margin-bottom: 0; }
    .section-catering .catering-badge .badge-bg {
      width: 285px;
      -webkit-animation: pulse 1.75s ease-in-out infinite;
      animation: pulse 1.75s ease-in-out infinite; }
    @media (min-width: 1200px) {
      .section-catering .catering-badge .badge-title h2 {
        font-size: 46px; }
      .section-catering .catering-badge .badge-bg {
        width: 550px; } }
    .section-catering .catering-badge:hover .badge-bg {
      -webkit-filter: brightness(150%);
      filter: brightness(150%); }

#footer-global {
  color: #ffffff; }
  #footer-global .footer-inner {
    width: 100%;
    background: #ed2a2e;
    padding: 24px 54px; }
    @media (min-width: 1200px) {
      #footer-global .footer-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  #footer-global .logo {
    width: 200px;
    display: inline-block;
    position: relative;
    margin-top: -275px;
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1); }
  #footer-global .goat-head {
    width: 200px; }
  #footer-global .footer-menu-list {
    margin-bottom: 24px; }
    #footer-global .footer-menu-list ul li:not(:last-child) {
      margin-bottom: 12px; }

@media (max-width: 1199px) {
  #header-global .header-top .header-right a {
    display: none; } }

@media (min-width: 1200px) {
  #header-global .header-menu-mobile,
  #header-global .menu-icon {
    display: none; } }

#header-global .header-menu-mobile {
  display: none; }
  #header-global .header-menu-mobile a {
    color: #ffffff; }

html.menu-is-opened {
  height: 100vh;
  overflow: hidden; }
  html.menu-is-opened #header-global .header-menu-mobile {
    display: block; }
    html.menu-is-opened #header-global .header-menu-mobile .nav-list {
      padding: 54px 0; }
      html.menu-is-opened #header-global .header-menu-mobile .nav-list li:not(:last-of-type) {
        margin-bottom: 12px; }

.page-single {
  max-width: 1200px;
  margin: auto; }
  .page-single .wp-block-column p {
    margin-bottom: 24px; }
  .page-single .wp-block-column ul,
  .page-single .wp-block-column ol {
    list-style-type: disc;
    margin-left: inherit; }
  .page-single .search-results-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }
    .page-single .search-results-container a {
      display: inline-block; }
  @media (min-width: 1200px) {
    .page-single .single-grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr; } }
  @media (min-width: 1200px) {
    .page-single .single-grid .blog-grid-left .blog-grid-item {
      padding: 24px; }
      .page-single .single-grid .blog-grid-left .blog-grid-item .featured-image-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .page-single .single-grid .blog-grid-left .blog-grid-item .featured-image-container .featured-image {
          max-height: 600px; }
      .page-single .single-grid .blog-grid-left .blog-grid-item .post-content {
        padding: 24px 24px 0 calc(24px + ((100% - 54px) / 12 * 2)); } }
  .page-single .single-grid .blog-grid-left .grid-item-border-bottom {
    margin-top: 24px; }
  @media (min-width: 1200px) {
    .page-single .single-grid .blog-grid-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .page-single .single-grid .blog-grid-right .blog-grid-right-title {
        padding-left: 24px;
        padding-top: 24px; }
      .page-single .single-grid .blog-grid-right .blog-grid-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 0; }
        .page-single .single-grid .blog-grid-right .blog-grid-item .blog-category {
          margin-bottom: 12px; } }
  @media (min-width: 1200px) {
    .page-single .single-grid .blog-grid-right .grid-item-border-bottom {
      margin-left: 24px; } }
  @media (max-width: 1199px) {
    .page-single .single-grid .blog-grid-right .grid-item-border-bottom {
      margin-top: 24px;
      margin-bottom: 24px; } }

.page-search {
  text-align: center;
  margin: 0 auto; }
  .page-search li {
    margin-bottom: 12px; }

.page-menu {
  opacity: 0; }
  .page-menu .menu-intro {
    display: none; }
  .page-menu .menu-title {
    position: relative;
    display: inline-block;
    margin-bottom: 19.2px; }
  .page-menu .menu-content {
    margin-bottom: 48px; }

.page-contact-us p {
  margin-bottom: 24px; }

.page-contact-us input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  background-color: #ed2a2e;
  color: #ffffff;
  padding: 12px;
  border-radius: 6px; }
  .page-contact-us input[type="submit"]:hover {
    background-color: #f1595c; }

.page-blog {
  max-width: 1200px;
  margin: auto; }
  @media (min-width: 1200px) {
    .page-blog .grid-top-border .border-top {
      margin-left: 24px; } }
  @media (max-width: 1199px) {
    .page-blog .grid-top-border .border-top {
      margin-bottom: 24px; } }
  @media (min-width: 1200px) {
    .page-blog .blog-grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1200px) {
    .page-blog .blog-grid .blog-grid-left .blog-grid-item {
      padding: 24px; } }
  .page-blog .blog-grid .blog-grid-left .grid-item-border-bottom {
    margin-top: 24px; }
  @media (min-width: 1200px) {
    .page-blog .blog-grid .blog-grid-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .page-blog .blog-grid .blog-grid-right .blog-grid-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-right: 0; }
        .page-blog .blog-grid .blog-grid-right .blog-grid-item:first-child .image-content {
          width: calc(50% - 36px);
          margin-right: 12px; }
        .page-blog .blog-grid .blog-grid-right .blog-grid-item:first-child .post-info {
          margin-left: 12px; }
        .page-blog .blog-grid .blog-grid-right .blog-grid-item:first-child .blog-info {
          max-width: calc(50% - 24px); }
        .page-blog .blog-grid .blog-grid-right .blog-grid-item:first-child .blog-excerpt,
        .page-blog .blog-grid .blog-grid-right .blog-grid-item:first-child .read-more {
          display: none; }
        .page-blog .blog-grid .blog-grid-right .blog-grid-item:nth-child(n + 2) .image-content {
          display: none; } }
  @media (min-width: 1200px) {
    .page-blog .blog-grid .blog-grid-right .grid-item-border-bottom {
      margin-left: 24px; } }
  @media (max-width: 1199px) {
    .page-blog .blog-grid .blog-grid-right .grid-item-border-bottom {
      margin-top: 24px;
      margin-bottom: 24px; } }
  .page-blog .blog-grid-item .blog-info:hover .post-title-link {
    -webkit-filter: brightness(150%);
    filter: brightness(150%); }
  @media (max-width: 1199px) {
    .page-blog .blog-grid-item {
      margin-bottom: 54px; } }
  .page-blog .blog-grid-item .post-title {
    margin-bottom: 12px; }
  .page-blog .blog-grid-item .blog-info a {
    display: inline-block; }
  .page-blog .blog-grid-item .blog-info a:not(:first-of-type) {
    margin-top: 12px; }
  .page-blog .blog-grid-item .blog-info .blog-category a {
    font-size: 0.8em;
    margin-top: 0;
    color: #707070; }
    .page-blog .blog-grid-item .blog-info .blog-category a:hover, .page-blog .blog-grid-item .blog-info .blog-category a:active {
      color: #ed2a2e; }
  .page-blog .blog-grid-bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    margin: 54px auto;
    grid-gap: 24px;
    padding: 0 24px;
    max-width: 1200px;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch; }
    .page-blog .blog-grid-bottom .blog-grid-item {
      -ms-grid-column-span: 1;
      grid-column: span 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .page-blog .rest-of-blog-posts {
    margin: 54px auto auto 0;
    max-width: 800px; }
    .page-blog .rest-of-blog-posts .grid-item-border-bottom {
      padding-top: 24px; }

.page-home {
  opacity: 0;
  overflow: hidden; }
  .page-home .site-tagline-container {
    margin: 0 auto;
    max-width: 500px;
    max-height: 250px; }
    .page-home .site-tagline-container textpath {
      fill: #ed2a2e; }
    .page-home .site-tagline-container path {
      fill: transparent; }
  .page-home .divider-section {
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .page-home .divider-section .divider-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 200%; }
    .page-home .divider-section .section-border-zigzag {
      height: 224.972px; }
  .page-home .title-badge-container .title-badge {
    display: inline-block;
    position: relative;
    width: 170px;
    text-align: center; }
    .page-home .title-badge-container .title-badge .badge-bg {
      position: absolute;
      overflow: hidden;
      width: 170px;
      left: 0px;
      top: -68px; }
      .page-home .title-badge-container .title-badge .badge-bg > #clown-flower-img {
        fill: none;
        stroke: #ed2a2e;
        stroke-width: 12px;
        z-index: 3; }
        .page-home .title-badge-container .title-badge .badge-bg > #clown-flower-img path {
          fill: none; }
    .page-home .title-badge-container .title-badge h2 {
      display: inline-block;
      color: transparent;
      -webkit-text-stroke: 0.5px red;
      paint-order: stroke fill; }
  .page-home .site-description-container {
    margin: 54px 0; }
  .page-home .menu-section-intro {
    display: none; }
  .page-home .menu-section {
    position: relative; }
  .page-home .menu-section-intro {
    position: relative; }
    .page-home .menu-section-intro .title-badge-container {
      display: none; }
  .page-home .menu-section-sandwiches .menu-content,
  .page-home .menu-section-dinner .menu-content {
    position: absolute;
    width: 100%; }
  .page-home .menu-section-sandwiches .menu-item-content,
  .page-home .menu-section-dinner .menu-item-content {
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    min-width: 200vw;
    -webkit-animation: moveRight 20s linear infinite;
    animation: moveRight 20s linear infinite; }
    @media (min-width: 1200px) {
      .page-home .menu-section-sandwiches .menu-item-content,
      .page-home .menu-section-dinner .menu-item-content {
        -webkit-animation: moveRight 30s linear infinite;
        animation: moveRight 30s linear infinite; } }
    .page-home .menu-section-sandwiches .menu-item-content .menu-item-text:not(:first-child),
    .page-home .menu-section-dinner .menu-item-content .menu-item-text:not(:first-child) {
      margin-left: 54px; }
    .page-home .menu-section-sandwiches .menu-item-content .menu-item-text:not(:last-child),
    .page-home .menu-section-dinner .menu-item-content .menu-item-text:not(:last-child) {
      margin-right: 54px; }
  .page-home .menu-section-dinner .title-badge-container,
  .page-home .menu-section-appetizers .title-badge-container,
  .page-home .menu-section-sandwiches .title-badge-container,
  .page-home .menu-section-sides .title-badge-container {
    position: absolute;
    top: 0; }
    @media (min-width: 1199px) {
      .page-home .menu-section-dinner .title-badge-container,
      .page-home .menu-section-appetizers .title-badge-container,
      .page-home .menu-section-sandwiches .title-badge-container,
      .page-home .menu-section-sides .title-badge-container {
        min-height: 100px; } }
  .page-home .menu-section-dinner .title-badge-container {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .page-home .menu-section-appetizers .title-badge-container {
    position: absolute;
    top: 12px;
    left: 50%;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
    .page-home .menu-section-appetizers .title-badge-container .title-badge {
      width: 200px; }
      .page-home .menu-section-appetizers .title-badge-container .title-badge .badge-bg {
        width: 200px;
        left: 0;
        top: -87px; }
  .page-home .menu-section-sandwiches .title-badge-container {
    position: absolute;
    top: 12px;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
    .page-home .menu-section-sandwiches .title-badge-container .title-badge {
      width: 220px; }
      .page-home .menu-section-sandwiches .title-badge-container .title-badge .badge-bg {
        width: 220px;
        left: 0;
        top: -96px; }
  @media (min-width: 1200px) {
    .page-home .menu-section-dinner .title-badge-container {
      top: 4%;
      left: 56%;
      -webkit-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
      transform: rotate(18deg); }
    .page-home .menu-section-sandwiches .title-badge-container {
      top: 7%;
      left: 67%;
      -webkit-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
      transform: rotate(18deg); }
    .page-home .menu-section-appetizers .title-badge-container {
      top: 11%;
      left: 20%;
      -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      transform: rotate(-15deg); }
      .page-home .menu-section-appetizers .title-badge-container .title-badge {
        width: 200px; }
        .page-home .menu-section-appetizers .title-badge-container .title-badge .badge-bg {
          width: 200px;
          top: -87px; }
    .page-home .menu-section-sides .title-badge-container,
    .page-home .menu-section-appetizers .title-badge-container {
      top: 11%;
      left: 20%;
      -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
      transform: rotate(-15deg); } }
  .page-home .menu-section-sandwiches {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .page-home .menu-section-sandwiches .image-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .page-home .menu-section-sandwiches .image-content img {
        height: 150px; }
      .page-home .menu-section-sandwiches .image-content .bread-top {
        margin-bottom: 27px; }
      .page-home .menu-section-sandwiches .image-content .bread-bottom {
        margin-top: 108px; }
  .page-home .menu-section-dinner {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 0; }
    .page-home .menu-section-dinner .menu-content {
      margin-top: 110px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .page-home .menu-section-dinner .image-content-right,
    .page-home .menu-section-dinner .image-content-left {
      z-index: 1; }
    .page-home .menu-section-dinner .face-left,
    .page-home .menu-section-dinner .face-right {
      height: 680px; }
    .page-home .menu-section-dinner .face-left {
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1); }
    .page-home .menu-section-dinner .image-content-right {
      position: absolute;
      right: 0; }
    .page-home .menu-section-dinner .image-content-left {
      position: absolute;
      left: 0; }
    @media (max-width: 767px) {
      .page-home .menu-section-dinner {
        min-height: 400px; }
        .page-home .menu-section-dinner .face-left,
        .page-home .menu-section-dinner .face-right {
          height: 350px; }
        .page-home .menu-section-dinner .image-content-left {
          left: -60px; }
        .page-home .menu-section-dinner .image-content-right {
          right: -60px; }
        .page-home .menu-section-dinner .menu-content {
          margin-top: 60px;
          font-size: 32px; } }
  .page-home .menu-section-sides .menu-item-content,
  .page-home .menu-section-appetizers .menu-item-content {
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    -webkit-column-gap: 24px;
    column-gap: 24px;
    row-gap: 36px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .page-home .menu-section-sides .menu-item-text,
  .page-home .menu-section-appetizers .menu-item-text {
    position: relative;
    min-height: 60px;
    text-align: center; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 1),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
      -ms-grid-row: 1;
      grid-row: 1; }
      .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 1):after,
      .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 1):after {
        content: "";
        background: url(./img/plate-3.png);
        height: 30px;
        width: 100%;
        position: absolute;
        background-size: 30px;
        bottom: -30px;
        left: 0;
        background-repeat: no-repeat;
        background-position: center; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 2),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 2) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2/4;
      -ms-grid-row: 2;
      grid-row: 2; }
      .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 2):after,
      .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 2):after {
        background: url(./img/plate-1.png);
        content: "";
        height: 30px;
        width: 100%;
        position: absolute;
        background-size: 30px;
        bottom: -30px;
        left: 0;
        background-repeat: no-repeat;
        background-position: center; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 3),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 3) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
      -ms-grid-row: 3;
      grid-row: 3; }
      .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 3):after,
      .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 3):after {
        background: url(./img/plate-3.png);
        content: "";
        height: 30px;
        width: 100%;
        position: absolute;
        background-size: 30px;
        bottom: -30px;
        left: 0;
        background-repeat: no-repeat;
        background-position: center; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 4),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 4) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2/4;
      -ms-grid-row: 1;
      grid-row: 1; }
      .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 4):after,
      .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 4):after {
        background: url(./img/plate-2.png);
        content: "";
        height: 30px;
        width: 100%;
        position: absolute;
        background-size: 30px;
        bottom: -30px;
        left: 0;
        background-repeat: no-repeat;
        background-position: center; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 5),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 5) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
      -ms-grid-row: 2;
      grid-row: 2; }
      .page-home .menu-section-sides .menu-item-text:nth-of-type(6n + 5):after,
      .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n + 5):after {
        background: url(./img/plate-1.png);
        content: "";
        height: 30px;
        width: 100%;
        position: absolute;
        background-size: 30px;
        bottom: -30px;
        left: 0;
        background-repeat: no-repeat;
        background-position: center; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(6n),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
      grid-column: 2/4;
      -ms-grid-row: 3;
      grid-row: 3; }
      .page-home .menu-section-sides .menu-item-text:nth-of-type(6n):after,
      .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6n):after {
        background: url(./img/plate-2.png);
        content: "";
        height: 30px;
        width: 100%;
        position: absolute;
        background-size: 30px;
        bottom: -30px;
        left: 0;
        background-repeat: no-repeat;
        background-position: center; }
  @media (max-width: 1199px) {
    .page-home .menu-section-sides .menu-item-text:nth-of-type(-n + 3),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(-n + 3) {
      -webkit-animation: fadeInPart1 20s linear infinite;
      animation: fadeInPart1 20s linear infinite; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(n + 4):nth-child(-n + 6),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(n + 4):nth-child(-n + 6) {
      opacity: 0;
      -webkit-animation: fadeInPart2 20s linear infinite;
      animation: fadeInPart2 20s linear infinite; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(n + 7):nth-child(-n + 9),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(n + 7):nth-child(-n + 9) {
      opacity: 0;
      -webkit-animation: fadeInPart3 20s linear infinite;
      animation: fadeInPart3 20s linear infinite; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(n + 10):nth-child(-n + 12),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(n + 10):nth-child(-n + 12) {
      opacity: 0;
      -webkit-animation: fadeInPart4 20s linear infinite;
      animation: fadeInPart4 20s linear infinite; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(1),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(1) {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(2),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(2) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(3),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(3) {
      -webkit-animation-delay: 0.45s;
      animation-delay: 0.45s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(4),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(4) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(5),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(5) {
      -webkit-animation-delay: 0.75s;
      animation-delay: 0.75s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(6),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(6) {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(7),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(7) {
      -webkit-animation-delay: 1.05s;
      animation-delay: 1.05s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(8),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(8) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(9),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(9) {
      -webkit-animation-delay: 1.35s;
      animation-delay: 1.35s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(10),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(10) {
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(11),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(11) {
      -webkit-animation-delay: 1.65s;
      animation-delay: 1.65s; }
    .page-home .menu-section-sides .menu-item-text:nth-of-type(12),
    .page-home .menu-section-appetizers .menu-item-text:nth-of-type(12) {
      -webkit-animation-delay: 1.8s;
      animation-delay: 1.8s; } }
  @media (min-width: 1200px) {
    .page-home .menu-section-sides .menu-item-content,
    .page-home .menu-section-appetizers .menu-item-content {
      height: 100vh;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(6n + 1),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(6n + 1) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1/4;
      -ms-grid-row: 2;
      -ms-grid-row-span: 2;
      grid-row: 2/4; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(6n + 2),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(6n + 2) {
      -ms-grid-column: 2;
      -ms-grid-column-span: 4;
      grid-column: 2/6;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(6n + 3),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(6n + 3) {
      -ms-grid-column: 5;
      -ms-grid-column-span: 2;
      grid-column: 5/7;
      -ms-grid-row: 2;
      -ms-grid-row-span: 3;
      grid-row: 2/5; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(6n + 4),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(6n + 4) {
      -ms-grid-column: 7;
      -ms-grid-column-span: 2;
      grid-column: 7/9;
      -ms-grid-row: 1;
      grid-row: 1; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(6n + 5),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(6n + 5) {
      -ms-grid-column: 10;
      -ms-grid-column-span: 3;
      grid-column: 10/13;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(6n),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(6n) {
      -ms-grid-column: 7;
      -ms-grid-column-span: 5;
      grid-column: 7/12;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(n + 7),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(n + 7) {
      opacity: 0;
      -webkit-animation: fadeInOut 10s linear infinite;
      animation: fadeInOut 10s linear infinite; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(-n + 6),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(-n + 6) {
      -webkit-animation: fadeOutIn 10s linear infinite;
      animation: fadeOutIn 10s linear infinite; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(1),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(1) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(2),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(2) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(3),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(3) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(4),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(4) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(5),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(5) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .page-home .menu-section-sides .menu-item-content .menu-item-text:nth-of-type(6),
    .page-home .menu-section-appetizers .menu-item-content .menu-item-text:nth-of-type(6) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; } }
  @media (max-width: 767px) {
    .page-home .menu-section-appetizers,
    .page-home .menu-section-sandwiches,
    .page-home .menu-section-sides {
      padding-top: 135px; } }
