* {
  font-family: $text-font;
  box-sizing: border-box;
}

html,
body {
  font-family: $text-font;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $red;
  line-height: $line-global;
}
html {
  background-color: $red;
}
body {
  font-size: $type-body-med;
  padding-top: $header-height;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}
