html,
body {
  font-size: 10px;
}

h1 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 4.2724609375em;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h2 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 3.4179687500000004em;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h3 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 2.7343750000000004em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h4 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 2.1875em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h5 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 1.7500000000000002em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h6 {
  margin-bottom: 1.5rem;
  font-family: Bree Serif;
  font-size: 1.4000000000000001em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

p {
  margin-bottom: 3rem;
  font-family: Open Sans;
  font-size: 1.6em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

@media screen and (max-width: $breakpoint-tablet - 1px) {
  h1 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 6.103515625em;
    line-height: 6.1rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h2 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 4.8828125em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h3 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 3.90625em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h4 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 3.125em;
    line-height: 6rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h5 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 2.5em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  h6 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 2em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
  p {
    margin-bottom: 3rem;
    font-family: Open Sans;
    font-size: 1.6em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }
}
