h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: $headline-font;
  font-weight: $type-bold;
  color: $red;
}
h1,
.h1 {
  font-size: $type-headline-lg;
  line-height: $line-global * 3;
}

h2,
.h2 {
  font-size: $type-headline-med;
  line-height: 1.4;
  margin-bottom: ($line-global * 1.5) / 2;
}

h3,
.h3 {
  font-size: $type-body-med;
  line-height: $line-global;
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p {
  font-family: $text-font;
  font-size: $type-body-med;
  line-height: $line-global;
}

.p-large {
  font-family: $text-font;
  font-size: $type-body-lg;
  line-height: 1.4;
}

.text-huge {
  font-family: $logo-font;
  font-size: $type-headline-med;
  line-height: 1.4;
}
@media (min-width: $breakpoint-desktop) {
  .text-huge {
    font-size: $type-headline-lg * 2;
  }
}

a {
  text-decoration: none;
  color: $text-color;
}

.link-logo {
  font-size: 55px;
  display: inline-block;
  width: 55px;
}

.text-link {
  font-family: $headline-font;
  color: $text-color;
  fill: currentColor;
  position: relative;
  @media (min-width: $breakpoint-desktop) {
    &:hover {
      &:after {
        content: "";
        height: 8px;
        width: 100%;
        position: absolute;
        background: url("./img/text-link-underline-wiggler2.png");
        background-size: 8px;
        top: $line-global;
        bottom: 0px;
        left: 0;
      }
    }
  }
}

.bg-red {
  background-color: $red;
}

.border-red {
  border-color: $red;
}

.text-white {
  color: $white;
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    color: $white;
  }
  p,
  .accent-color {
    color: $text-color-white;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

.text-black {
  color: $black;
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    color: $black;
  }
  p,
  .accent-color {
    color: $light-black;
  }
  a {
    color: $black;
    &:hover {
      color: $light-black;
    }
  }
}

.heading-text-underline {
  &:after {
    content: "";
    height: 8px;
    width: 100%;
    position: absolute;
    background: url("./img/text-link-underline-wiggler2.png");
    background-size: 8px;
    top: $line-global * 1.75;
    bottom: 0px;
    left: 0;
  }
}

.text-link-white {
  @media (min-width: $breakpoint-desktop) {
    &:hover {
      &:after {
        content: "";
        height: 8px;
        width: 100%;
        position: absolute;
        background: url("./img/text-link-white-underline-wiggler.png");
        background-size: 8px;
        top: $line-global;
        bottom: 0px;
        left: 0;
      }
    }
  }
}

button[type="submit"],
.button {
  @include reset-input;
  display: inline-block;
  width: auto;
  padding: $line-global / 2;
  text-align: center;
  font-size: $type-body-med;
  line-height: $line-global;
  background-color: $black;
  color: $white;

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
  &:not(:disabled):hover {
    background-color: lighten($black, 10%);
  }
  &:hover {
    color: $white;
  }
  &.button-cta {
    width: 100%;
    padding: $line-global;
  }
  .text-white & {
    background: $white;
    color: $black;
    &:hover {
      color: $black;
      background: darken($white, 10%);
    }
  }
}

// .styled-select {
//   position: relative;
//   color: $text-color;

//   select {
//     @include reset-input;
//     font-family: $text-font;
//     font-size: $type-body-med;
//     line-height: $line-global;
//     padding-right: $line-global;
//     color: currentColor;
//     width: 100%;
//   }
//   .inline-icon {
//     position: absolute;
//     top: 0;
//     right: 0;
//     pointer-events: none;
//     font-size: 0.65em;
//   }
//   .text-white & {
//     color: $text-color-light-white;
//     &:hover {
//       color: $white;
//     }
//   }
// }

.searchbox-form {
  position: relative;
  input {
    @include reset-input;
    border: 4px solid $red;
    height: 40px;
    &::placeholder {
      color: $red;
      font-family: $headline-font;
      font-size: $type-headline-sm;
    }
  }
  .search-input {
    padding: 6px;
    color: $red;
    &:focus,
    &:active {
      color: $red;
      caret-color: $red;
    }
  }
  .search-btn {
    position: absolute;
    top: 0;
    background: $white url("img/search-icon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 36px;
    color: $red;
    @media (min-width: $breakpoint-desktop) {
      right: 0;
    }
  }
}

//css is probably the best solution for this.
// I want an alternate version of my searchform, but not go overboard for two cases that I need to check for (header and footer)
#header-global,
#footer-global {
  .searchbox-form {
    input {
      border: 4px solid $white;
    }
    &::placeholder {
      color: $white;
    }
    .search-input,
    .search-input:focus,
    .search-input:active {
      color: $white;
      caret-color: $white;
    }
    .search-btn {
      color: $red;
    }
  }
}
