.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  padding-left: $line-global;
  padding-right: $line-global;
  @media (min-width: $breakpoint-desktop) {
    padding-left: $offset-global;
    padding-right: $offset-global;
  }
  @media (max-width: $breakpoint-mobile - 1px) {
    padding-left: $line-global/2;
    padding-right: $line-global/2;
  }
}

.grid {
  display: grid;
  grid-column-gap: $gutter-global;
  grid-row-gap: $gutter-global;

  > * {
    min-width: 0;
    min-height: 0;
  }
  &.collapse {
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
}

@media (min-width: $breakpoint-mobile) {
  .two-columns {
    grid-template-columns: 1fr 1fr;
  }
}

.valign-center {
  display: flex;
  flex-direction: column;

  > * {
    &:first-child {
      margin-top: auto;
    }
    &:last-child {
      margin-bottom: auto;
    }
  }
}

//spacing helpers
.ta-center {
  text-align: center;
}
.ptb-global {
  padding-top: $line-global;
  padding-bottom: $line-global;
}

.mt-header {
  margin-top: $header-height;
}

.valign-center-wp-columns {
  display: flex;
  align-items: center;
}

@media (max-width: $breakpoint-mobile - 1px) {
  .flex-reverse-column-wp-columns-mobile {
    flex-direction: column-reverse;
  }
}

// svg helpers
.page-title-container {
  margin: 0 auto;
  max-width: 500px;
  max-height: 250px;
  textpath {
    fill: $red;
    font-weight: 700;
    @extend .h2;
  }
  path {
    fill: transparent;
  }
}
.page-title-container,
.site-tagline-container {
  text {
    fill: $red;
    font-weight: 700;
    @extend .h2;
  }
}

.border-top {
  border-top: 1px solid $red;
}

.border-bottom {
  border-bottom: 1px solid $red;
}

.red-fill {
  fill: $red;
}
.white-fill {
  fill: $white;
}
// for svgs that need to line up with other divs.
.db {
  display: block;
}

// Animations

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(1.2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes translateLeft {
  100% {
    transform: translateX(-100%);
  }
}
.translate-left {
  animation: translateLeft 15s linear infinite;
}

.rotate-scale-up {
  animation: rotate-scale-up 10s linear infinite both;
}
@keyframes moveRight {
  0% {
    transform: translateX(-200vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes fadeInOut {
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
}

@keyframes fadeOutIn {
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// 4 groups instead of two for desktop
@keyframes fadeInPart1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  23.75% {
    opacity: 0;
  }
  96.25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInPart2 {
  0% {
    opacity: 0;
  }
  23.75% {
    opacity: 0;
  }
  27.5% {
    opacity: 1;
  }
  43.75% {
    opacity: 1;
  }
  47.5% {
    opacity: 0;
  }
}

@keyframes fadeInPart3 {
  0% {
    opacity: 0;
  }
  47.5% {
    opacity: 0;
  }
  51.25% {
    opacity: 1;
  }
  67.5% {
    opacity: 1;
  }
  71.25% {
    opacity: 0;
  }
}

@keyframes fadeInPart4 {
  0% {
    opacity: 0;
  }
  71.25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  91.25% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
}
// blog post styles
// what I actually need
.blog-post-styleguide {
  p {
    margin-bottom: $offset-global;
  }
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-bottom: $line-global / 2;
  }
}
// blog styles reference
.blog-content-styleguide-reference {
  html,
  body {
    font-size: 10px;
  }

  h1,
  .h1 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 4.2724609375em;
    line-height: 6rem;
    font-style: normal;
    letter-spacing: 0em;
  }

  h2,
  .h2 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 3.4179687500000004em;
    line-height: 6rem;
    font-style: normal;
    letter-spacing: 0em;
  }

  h3,
  .h3 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 2.7343750000000004em;
    line-height: $line-global * 2;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }

  h4,
  .h4 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 2.1875em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }

  h5,
  .h5 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 1.7500000000000002em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }

  h6,
  .h6 {
    margin-bottom: 1.5rem;
    font-family: Bree Serif;
    font-size: 1.4000000000000001em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }

  p {
    margin-bottom: 3rem;
    font-family: Open Sans;
    font-size: 1.6em;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
  }

  @media screen and (max-width: $breakpoint-tablet - 1px) {
    h1,
    .h1 {
      margin-bottom: 1.5rem;
      font-family: Bree Serif;
      font-size: 6.103515625em;
      line-height: 6.1rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0em;
    }
    h2,
    .h2 {
      margin-bottom: 1.5rem;
      font-family: Bree Serif;
      font-size: 4.8828125em;
      line-height: 6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0em;
    }
    h3,
    .h3 {
      margin-bottom: 1.5rem;
      font-family: Bree Serif;
      font-size: 3.90625em;
      line-height: 6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0em;
    }
    h4,
    .h4 {
      margin-bottom: 1.5rem;
      font-family: Bree Serif;
      font-size: 3.125em;
      line-height: 6rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0em;
    }
    h5,
    .h5 {
      margin-bottom: 1.5rem;
      font-family: Bree Serif;
      font-size: 2.5em;
      line-height: 3rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0em;
    }
    h6,
    .h6 {
      margin-bottom: 1.5rem;
      font-family: Bree Serif;
      font-size: 2em;
      line-height: 3rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0em;
    }
    p {
      margin-bottom: 3rem;
      font-family: Open Sans;
      font-size: 1.6em;
      line-height: 3rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0em;
    }
  }
}
