$headline-font: "Bree Serif", "Georgia", "Times New Roman", serif;
$text-font: "Open Sans", Arial, sans-serif;
$logo-font: "Luckiest Guy", cursive;
$orange: #eaca3b;
$red: #ed2a2e;
$blue: #2862cd;

$black: #000000;
$white: #ffffff;

$light-white: #fafafa;
$light-black: #333333;

$text-color: $red;
$text-color-white: #cccccc;
$text-color-light: #707070;
$text-color-light-white: #aaaaaa;

$border-color: $red;
$border-color-white: $white;

$standard-border: 1px solid $border-color;
$standard-border-white: 1px solid $border-color-white;

$header-height: 110px;

$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$type-headline-lg: 46px;
$type-headline-med: 32px;
$type-headline-sm: 16px;
$type-body-lg: 31px;
$type-body-med: 16px;

$type-bold: 700;
$type-book: 400;

$line-global: $type-body-med * 1.5;
$gutter-global: $line-global * 1.5;
$offset-global: $gutter-global * 1.5;

$button-height: $line-global * 2;
