// catering section moved here bc the markup is now in our footer.php

.section-catering {
  margin: $header-height 0;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  .catering-badge {
    position: relative;
    .badge-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      text-align: center;
      transition: transform 0.5s ease-in-out;
      z-index: 1;
      h2 {
        font-family: $logo-font;
        margin-bottom: 0;
      }
    }
    .badge-bg {
      width: 285px;
      animation: pulse 1.75s ease-in-out infinite;
    }
    @media (min-width: $breakpoint-desktop) {
      .badge-title {
        h2 {
          font-size: $type-headline-lg;
        }
      }
      .badge-bg {
        width: 550px;
      }
    }
    &:hover {
      .badge-bg {
        filter: brightness(150%);
      }
    }
  }
}

#footer-global {
  color: $white;
  .footer-inner {
    width: 100%;
    background: $red;
    padding: $line-global $offset-global;
    @media (min-width: $breakpoint-desktop) {
      @include flex-space-between;
      align-items: flex-start;
    }
  }

  .logo {
    width: 200px;
    display: inline-block;
    position: relative;
    margin-top: -($header-height * 2.5);
    transform: scaleX(-1);
  }
  .goat-head {
    width: 200px;
  }
  .footer-menu-list {
    margin-bottom: $line-global;
    ul li:not(:last-child) {
      margin-bottom: $line-global/2;
    }
  }
}
