#header-global {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
#header-global {
  .header-top {
    @include flex-space-between;
    @extend .wrapper;
    background: $red;
    .logo {
      display: inline-block;
      width: 100%;
      position: relative;
      h2 {
        font-family: $logo-font;
        color: $white;
        letter-spacing: 1px;
        margin-bottom: 0;
        line-height: $line-global * 1.5;
      }
      > #clown-flower-img {
        z-index: 3;
      }
    }
    .logo-bg {
      display: none;
      position: absolute;
      overflow: hidden;
      width: 300px;
      top: -200%;
      left: -70%;
      z-index: -1;
      @extend .rotate-scale-up;
    }
    .menu-icon {
      position: relative;
      width: 100px;
    }
    .menu-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: red;
      background: white;
    }
    @media (min-width: $breakpoint-desktop) {
      background: none;
      height: $header-height;
      #mobile-menu-border {
        display: block;
      }
      .header-left {
        .logo-bg {
          display: block;
        }
      }
      .header-right {
        a {
          &:not(:first-of-type) {
            margin-left: $line-global;
          }
        }
      }
    }
  }

  .header-bottom {
    background-color: $red;
    @extend .wrapper;
  }
}

#header-global {
  #mobile-menu-border {
    display: block;
    margin-top: -1px;
  }
  @media (min-width: $breakpoint-desktop) {
    #mobile-menu-border {
      display: none;
    }
  }
}

// admin bar and fixed header. body has is_admin_bar_showing() function on it and adds this class if true
.admin-bar-showing {
  #header-global,
  .header-menu-mobile {
    top: 46px;
    @media (min-width: 783px) {
      top: 32px;
    }
  }
}
