#header-global {
  @media (max-width: $breakpoint-desktop - 1) {
    .header-top {
      .header-right {
        a {
          display: none;
        }
      }
    }
  }
  @media (min-width: $breakpoint-desktop) {
    .header-menu-mobile,
    .menu-icon {
      display: none;
    }
  }
  .header-menu-mobile {
    display: none;
    a {
      color: $white;
    }
  }
}

html.menu-is-opened {
  height: 100vh;
  overflow: hidden;
  #header-global {
    .header-menu-mobile {
      display: block;
      .nav-list {
        padding: $offset-global 0;
        li {
          &:not(:last-of-type) {
            margin-bottom: $line-global/2;
          }
        }
      }
    }
  }
}
